<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/principal.xhtml">

    <ui:define name="styles">
        <link href="./css/default.css" rel="stylesheet" type="text/css"/>
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">Tabela 1</div>

            <h:dataTable border="1" value="" var="user">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="numeroInscricao"/>
                    </f:facet>
                    <h:outputText id="userName" value="" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="CPF"/>
                    </f:facet>
                    <h:outputText id="date" value="" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nome"/>
                    </f:facet>
                    <h:outputText id="nome" value="" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Cidade"/>
                    </f:facet>
                    <h:outputText id="cidade" value="" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Estado"/>
                    </f:facet>
                    <h:outputText id="estado" value="" />
                </h:column>

            </h:dataTable>

        </h:form>
    </ui:define>

</ui:composition>